<div>
    <input id='searchbox' type="text" ng-model="searchKey" placeholder="Search for tasks">
    <form id="radiofilter">
        <input type="radio" ng-model="todoFilter" value="all"> All
        <input type="radio" ng-model="todoFilter" value="checked"> Checked
        <input type="radio" ng-model="todoFilter" value="unchecked"> Unchecked
    </form>
    <todo-tasklist>
        <todo-task ng-repeat="(id,task) in tasklist" ng-class="{'todo-checked': task.checked}" ng-show="(task.title.includes(searchKey) || task.description.includes(searchKey)) &&
                        ((todoFilter == 'all') || (todoFilter == 'checked' && task.checked == true) || (todoFilter == 'unchecked' && task.checked == false))">
            <todo-task-title>{{task.title}}</todo-task-title>
            <button class='todo-delete-button todo-button-default' ng-click="deleteTask(id)">Delete</button>
            <button class='todo-edit-button todo-button-default' ng-click="editTask(id)">Edit</button>
            <input type='checkbox' class='todo-task-checkbox' ng-click="updateCheckedStatus(id)" ng-checked={{task.checked}}>
            <todo-task-description>{{task.description}}</todo-task-description>
        </todo-task>
    </todo-tasklist>
</div>